div.bg-container {
    position:fixed;
    top:0;
    left:0;
    width:100%; 
    height:100%;
    background-image: url('./../images/background-login.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;    
    border:none;            
    opacity:0.3;
    filter:alpha(opacity=50);
    z-index:0;
}

div.container-login {
    width:36%;     
    height:40%;
    margin-top:9%;
    margin-left:auto;
    margin-right:auto;
    background: white;         
    border-radius:8px;
    -webkit-box-shadow: 2px 11px 18px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 2px 11px 18px 1px rgba(0,0,0,0.7);
    box-shadow: 2px 11px 18px 1px rgba(0,0,0,0.7);
    position:relative;
    z-index:1;    
}

div.container-form-login {
    padding:30px;    
}

div.top-login {
    background-color:#002A84; 
    width:100%;
    height:40%;    
    padding:0; 
    text-align:center;  
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color:white;    
}
