body {
    background-color:#eee; 
}

.app-body-content {
    width: 95%;
    height:auto;
    border-radius: 8px;
    padding:12px;
    margin-top:30px;
    margin-right:auto; 
    margin-left:auto; 
    background-color:white;
    border:1px solid #cccc; 
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.7);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.7);
    padding:30px;
}

.app-container-forms {
    width:70%; 
    margin: 0 auto 0 auto; 
}

.rr-navbar-top {
    background-color: #002A84; 
    -webkit-box-shadow: 2px 5px 5px 3px rgba(0,0,0,0.7);
    -moz-box-shadow: 2px 5px 5px 3px rgba(0,0,0,0.7);
    box-shadow: 2px 5px 5px 3px rgba(0,0,0,0.7);
    padding:0;
}

.rr-navbar-top a {
    color:white;

}

.rr-navbar-top a:hover {
    color:#999;
}

li.nav-item {
    background:none;
    transition:1s;
}

li.nav-item:hover {
    background:#005A9c; 
    background-size:100%
}

.dropdown-menu {
    background-color: #002A84;
}

a.dropdown-item {
    background:none;
    transition:1s;
}

a.dropdown-item:hover {
    background:#005A9c; 
    background-size:100%
}

.column-forms {
    width:48%;
    float:left;
    padding:5px;
    margin-left:14px;
}

.small-labels {
    font-size:0.6em;
}

.btn-items {
    float:left;
    margin-left:10px;
}

.btn-items-small {
    float:left; 
    padding:5px;    
    font-weight: bold; 
    width:35px;
}