html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="http://localhost:3000/assets/css/print.css")
        title RR - Print Proposal 
    body 
        block content

